$primary: #5D5FEF;
$secondary: #F3F4F6;

$grey900: #111827;
$greyDark: #C4C4C4;
$greyLight: #E2E3E5;

$backgroud-hover: #F0F9FF;

$text-main: #000;
$text-secondary: #4D5562;
$text-body: #6B7280;

$white: #fff;
