$primary: #5d5fef;
$secondary: #f3f4f6;

$grey900: #111827;
$greyDark: #c4c4c4;
$greyLight: #e2e3e5;

$backgroud-hover: #f0f9ff;

$text-main: #000;
$text-secondary: #4d5562;
$text-body: #6b7280;

$white: #fff;
